[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-cors-headers = "*"
django = "*"
authlib = "*"
requests = "*"
pytz = "*"
tzlocal = "*"
ldap3 = "*"
passlib = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
